.btn_margin{
    margin-top: 10px;
}

.calculator{
    margin: 0 auto;
    text-align: center;
}

.result{
    font-family: 'Creepster', cursive;
    font-size: 50px;
    color: blue;
}

.op_image{
    max-height: 150px;
    display: none;
}